language: php

sudo: false

php:
  - 7.0
  - 7.1
  - 7.2
  - nightly

env:
  - dependencies=highest
  - dependencies=lowest

matrix:
  fast_finish: true
  allow_failures:
    - php: nightly

install:
  - composer install -n

before_script:
  - if [ "$dependencies" = "lowest" ]; then composer update --prefer-lowest --prefer-stable -n; fi;
  - if [ "$dependencies" = "highest" ]; then composer update --prefer-stable -n; fi;
  - if [ "$dependencies" = "highest" ]; then PHPUNIT_FLAGS="--coverage-clover=coverage.clover"; fi

script:
  - vendor/bin/phpunit $PHPUNIT_FLAGS

after_script:
  - if [[ "$PHPUNIT_FLAGS" != "" ]]; then wget https://scrutinizer-ci.com/ocular.phar; fi
  - if [[ "$PHPUNIT_FLAGS" != "" ]]; then php ocular.phar code-coverage:upload --format=php-clover coverage.clover; fi

notifications:
  email:
    on_success: change
    on_failure: always
